test/HTTPServerOTA/HTTPServerOTA.ino.nodemcu.bin
test/HTTPServerOTA/build/

irrigation-system/midgets/sensor/midget-moisture/build/
irrigation-system/midgets/sensor/midget-temperature/build

irrigation-system/webserver-pi/bin/sensor/*.bin
irrigation-system/webserver-pi/bin/blink/real/*.bin
