test/HTTPServerOTA/HTTPServerOTA.ino.nodemcu.bin
test/HTTPServerOTA/build/
test/spiffs/build/

irrigation-system/midgets/controller-valve/build/
irrigation-system/midgets/sensor/midget-moisture/build/
irrigation-system/midgets/sensor/midget-temperature/build

irrigation-system/webserver-pi/bin/*/*.bin

.DS_Store
