
    <div class="box-header well">
        <h2>Dashboard</h2>
    </div>
    <div class="box-content row">
        <div class="col-lg-7 col-md-12">
            <h1>IRSYS</h1>

            <h2>Address</h2>
            {{address}}

            <h2>History</h2>
            <table style="width: 100%">
              <tr>
                <th>Time</th>
                <th>Type</th>
                <th>DeviceId</th>
                <th>Value</th>
              </tr>
              {%for obj in latest_sensor_values%}
                <tr>
                  <td>{{obj['time']}}</td>
                  <td>{{obj['type']}}</td>
                  <td>{{obj['deviceId']}}</td>
                  <td>{{obj['value']}}</td>
                </tr>
              {%endfor%}
            </table>

            <h2>Opening of valve</h2>
            <table style="width: 100%">
              <tr>
                <th>Hose</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Opening time</th>
              </tr>
              {%for obj in valve_openings%}
                <tr>
                  <td>{{obj['valve_id']}}</td>
                  <td>{{obj['starttime']}}</td>
                  <td>{{obj['endtime']}}</td>
                  <td>{{obj['opening_time']}}</td>
                </tr>
              {%endfor%}
            </table>

            <div>
              <h2>Moisture</h2>
              <div id="moisture_viz">
                <svg :view-box.camel="svgViewBox" preserveAspectRatio="xMidYMid meet">
                  <g :style="stageTransform">
                    <g class="axis x" ref="xAxis"></g>
                    <g class="axis y" ref="yAxis"></g>
                    <path class="area" ref="area"></path>
                    <path class="line" ref="line"></path>
                    <g class="points" ref="points"></g>
                  </g>
                </svg>
              </div>
            </div>

            <hr/>

            <div>
              <h2>Temperature</h2>
              <div id="temperature_viz">
                <svg :view-box.camel="svgViewBox" preserveAspectRatio="xMidYMid meet">
                  <g :style="stageTransform">
                    <g class="axis x" ref="xAxis"></g>
                    <g class="axis y" ref="yAxis"></g>
                    <path class="area" ref="area"></path>
                    <path class="line" ref="line"></path>
                    <g class="points" ref="points"></g>
                  </g>
                </svg>
              </div>
            </div>

            <hr/>

            <div>
              <h2>Light</h2>
              <div id="light_viz">
                <svg :view-box.camel="svgViewBox" preserveAspectRatio="xMidYMid meet">
                  <g :style="stageTransform">
                    <g class="axis x" ref="xAxis"></g>
                    <g class="axis y" ref="yAxis"></g>
                    <path class="area" ref="area"></path>
                    <path class="line" ref="line"></path>
                    <g class="points" ref="points"></g>
                  </g>
                </svg>
              </div>
            </div>

            <hr/>

            <div>
              <h2>Humidity</h2>
              <div id="humidity_viz">
                <svg :view-box.camel="svgViewBox" preserveAspectRatio="xMidYMid meet">
                  <g :style="stageTransform">
                    <g class="axis x" ref="xAxis"></g>
                    <g class="axis y" ref="yAxis"></g>
                    <path class="area" ref="area"></path>
                    <path class="line" ref="line"></path>
                    <g class="points" ref="points"></g>
                  </g>
                </svg>
              </div>
            </div>
        </div>
    </div>
    <script src="js/graph.js"></script>
    <script>render({{timeseries_moisture | safe}}, "moisture_viz")</script>
    <script>render({{timeseries_temperature | safe}}, "temperature_viz")</script>
    <script>render({{timeseries_light | safe}}, "light_viz")</script>
    <script>render({{timeseries_humidity | safe}}, "humidity_viz")</script>
